<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h1>Cocktail</h1>
  <div>

  <%= link_to "Add cocktail",
    new_cocktail_path,
    class: "btn btn-primary"%>

  </div>
</div>

  <%= cl_image_tag("dkdqnzd2bfaouxfar2up",
      width: 400, height: 300, crop: :fill) %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-lg-4">
        <div class="card mt-3" style="width: 20rem;">
          <img class="card-img-top" style="height: 250px" src="https://source.unsplash.com/random" alt="My cocktail">
          <div class="card-body">
            <h5 class="card-title"><%= cocktail.name %></h5>
            <p class="card-text">Lorem ipsum</p>
            <%= link_to "See details", cocktail_path(cocktail), class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

